<?xml version='1.0' encoding='utf-8'?>
<widget id="app.medux.demo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>speedcheckerCordovaDemo</name>
    <description>Demo Cordova Application with SpeedChecker SDK</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="speedcheckerapi_username" value="medux" />
            <preference name="speedcheckerapi_password" value="APG28xgbjG4Kk4eZZoAE9TyquQSU3uMff2xuW" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SpeedCheckerPlugin" >
                <param name="android-package" value="org.apache.cordova.speedchecker.SpeedCheckerPlugin"/>
            </feature>
        </config-file>
        <source-file src="platforms/android/app/src/main/java/org/apache/cordova/speedchecker/SpeedCheckerPlugin.java" target-dir="src/org/apache/cordova/speedchecker" />
    </platform>
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="31" />
    <preference name="android-compileSdkVersion" value="31" />
</widget>
